# Node
node_modules/
dist/
.vite/
*.log
.DS_Store

# TypeScript build artifacts
*.tsbuildinfo
src/**/*.js
src/**/*.js.map
vite.config.js

# Tauri
src-tauri/target/
src-tauri/gen/
src-tauri/WixTools/
src-tauri/.cargo/

# Rust
target/
**/*.rs.bk
Cargo.lock.bak

# Editors
.idea/
.vscode/
*.swp

# Env
.env
.env.local
.env.*.local

# OS
Thumbs.db
resources/fbclient/
